/* Write your CSS here */
.appointment-item-card {
  border: 2px solid #b5b7c4;
  padding: 10px;
  border-radius: 12px;
  margin: 10px;
  width: 350px;
  height: 150px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn {
  background-color: transparent;
  border: none;
}
.img {
  width: 20px;
  height: 20px;
}

.appointment-card-title {
  font-family: 'Roboto';
  font-size: 19px;
  color: black;
  font-weight: 600;
}
